/* 
to do list

5. Добавить кнопки переключения цветов
6. Добавить пункты в 4 меню
7. Добавить остальные страницы
8. Отрисовать другие страницы
10 Картинка png в picture почему-то не загружается
15 добавить content-visibility: auto; для страниц learn more чтобы увеличить скорость рендера (как lazy load)
16 улучшить UX увеличив область кнопок как тут
https://web.dev/learn/css/logical-properties/
17 Кастомизировать видеоплеер 
добавить звуки
добавить префиксы https://autoprefixer.github.io/
*/


@font-face {
	font-family: 'DIN Pro';
	src: url('font/DINPro-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('font/DINPro.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('font/DINPro-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('font/DINPro-Bold.woff2') format('woff2');
	font-weight: 700;
}


:root {
	--black: #111111;
	--full-black: #000000;
	--border-alternative: #333333;
	--grey: #A3A3A3;
	--border: #D2D2D2; 
	--background: #F3F3F3;
	--full-white: #FFFFFF;
}

* {
	margin: 0;
	padding: 0;
}


/*mobile*/
@media screen and (max-width: 699px) { 
body {
	font-family: 'DIN Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
	background-color: var(--background);
	max-width: 77.551020408%;
	margin: 0 auto;
	display: flex;
    flex-flow: column;
	}


.sidebar-left {
	width: 100%;
	position: relative;
	order: -1;
	display: flex;
	justify-content: flex-end;
	border-bottom: 2px solid var(--border);
	margin-top: 68px;
	padding-bottom: 2vw;
}

.sidebar-left__instax-logo {
	position: absolute;
	top: -10%;
	left: -0.8%;
	width: 7.5%;
	transform: rotate(90deg) translateX(-80%) translateY(-35%);
}
.sidebar-left__center {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width: 50%;
	max-width: 50%;
}
.sidebar-left__center--button-menu{
	width: 19.7%;
	display: flex;
	align-items: center;
	justify-content: center;
	order: 1;
	background-color: transparent;
	border: none;
	margin-right: -1.02040816327vw;/* 5px from 490px */
}
.sidebar-left__center--button-menu--svg {
	width: 100%;
	height: 100%;
}
.sidebar-left__center--button-menu--svg-path {
	stroke: var(--black);
}
.sidebar-left__center--button-magnifier{
	width: 14%;
	display: flex;
	order: -1;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	margin-top: 1px;
	margin-right: 13%;
}
.sidebar-left__center--button-magnifier--svg{
	width: 100%;
	height: 100%;
}
.sidebar-left__center--button-magnifier--svg-path{
	stroke: var(--black);}

.sidebar-left__center--button-copy{
	display: none;}

.sidebar-left__fujifilm-logo {
	display: none;}

.header1 {
	display: none;}
.header2 {
	display: none;}

.header3 {
	padding-top: 5%;
	padding-bottom: 5%;
	border-bottom: 2px solid var(--black);}

.header3__brand {
	font-weight: 300;
	font-size: 14.285714285vw; /* 70px from 490px */
	line-height: 100%; 
	letter-spacing: -0.1em;
	color: var(--black);
	margin: 0 0 0 -1.6vw;}
.header3__model {
	font-weight: 700;
	font-size: 14.285714285vw; /* 70px from 490px */
	line-height: 50px;
	letter-spacing: -0.1em;
	color: var(--black);
	margin: 0;}

.header3__color {
	font-size: 5.10204081633vw; /*25px*/
	line-height: 100%;
	font-weight: 300;
	letter-spacing: -0.03em;
	color: var(--grey);
	position: relative;
	margin-top: 8px;
	margin-left: 8.16326530612vw; /* 40px from 490px  */
}
.header3__color::before {
	position: absolute;
	content: "";
	background-image: url("img/color-icon.svg");
	background-repeat: no-repeat;
	background-size: cover;  
	background-position: center center;
	height: 6vw;/* 2.2vh 24px */
	width: 6vw;/* 2.2vh 24px */
	top: -0.6vh;
	left: -9vw;
}

.header4 {
	border-bottom: 3px solid var(--border);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header4__arrow {
	display: block;
	width: 63.2653061vw; /*310px*/
	position: relative;
	margin-top: 1vw;
	margin-right: -1vw;
}
.header4__arrow::before {
	font-size: 5.10204081633vw; /*25px*/
	line-height: 100%;
	font-weight: 300;
	letter-spacing: -0.04em;
	white-space: nowrap;
	text-decoration: none;
	position: absolute;
	left: -15.5vw;
	top: 2vw;
	content: "learn more";
	color: var(--grey);
}
.header4 svg {
	width: 100%;
	height: 100%;
}
.header4__price {
	order: 2;
	align-self: flex-start;
	font-size: 7.34693877551vw; /*36px*/
	line-height: 100%;
	letter-spacing: -0.1em;
	margin-top: 3vw;
	margin-bottom: 2vw;
	margin-left: -0.7vw;
}
.nav-top {
	display: none;
}

.nav-bottom {
	display: none;
}







.line {
	display: none;
}


.center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center__top-left-angle {
	font-size: 16px;
	line-height: 130%; 
	letter-spacing: -0.03em;
	font-weight: 300;
	color: var(--grey);
	z-index: 2;
	order: 4;
	margin-top: 40.8163265306vw; /*200px*/
	max-width: 100%;
}

.center__top-left-angle::before {
	display: none;
}

.center__top-right-angle {
	margin-top: 50px;
	margin-bottom: 100px;
	order: 4;
}

.center__top-right-angle--exit {
	display: none;}

.center__top-right-angle--buy {
	width: max(130px, 6.77083333333vw); 
	height: max(40px, 2.08333333333vw); 
  	padding-bottom: 0.462962962vh; /*5px*/
	border: 1px solid var(--border);
  	font-family: 'DIN Pro';
	font-size: max(16px, 0.83333333333vw); /*16px*/
	line-height: 100%;
	letter-spacing: -0.03em;
	font-weight: 400;
	background-color: transparent;  
	order: 3;
}
 
.center__top-right-angle--buy::after {
	display: none;}

.center__top-right-angle--compare {
	display: none;}

.center__slider {
	max-width: 100%; 
	order: 1;
	margin-top: 30px;}
.js-center__slider--item {
	max-width: 100%;}

.js-center__slider--item img {
	max-width: 100%; 
	object-fit: contain; }

.js-center__arrow--left{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	left: 0;
	height: 400px;
	width: 100px;}
	
.center__arrow--left-svg{
	display: none;}

.js-center__arrow--right{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	right: 0;
	height: 400px;
	width: 100px;
}

.center__arrow--right-svg{
	display: none;
}

.center__video {
	display: none;}
.center__quiz{
	display: none;}

.description {
	display: none;}
.penultimate {
	display: none;}
.sidebar-right {
	display: none;}

}



@media screen and (min-width: 700px) { 


body {
	font-family: 'DIN Pro', sans-serif;
	display: grid;
	gap: 0px;
	grid-template-columns: 4.166666666vw 13.541666666vw 1.041666666vw 60.416666666vw 16.666666666vw 4.166666670vw;
	grid-template-rows: 7.407407407vh 11.111111111vh 31.481481481vh 27.777777777vh 22.222222224vh;
	background-color: var(--background);
}


.header1 {
	grid-column: 4/5;
	grid-row: 1/2;
	border-bottom: 1px solid var(--border);
	display: flex;
	box-sizing: border-box;
}

.header1__warning {
	margin: 3.5vh 0px 0px 1vw; /*38px */
	font-size: clamp(12px, 0.625vw, 2vh); /*12px*/
	line-height: clamp(12px, 0.625vw, 2vh);
	letter-spacing: -0.03em;
	color: var(--grey);
	font-weight: 300;
}

.header2 {
	grid-column: 5/-1;
	grid-row: 1/2;
	border-bottom: 1px solid var(--border);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.header2__button_personal {
	margin-top: -0.2vh;
	margin-left: 1vw;
	color: var(--black);
	border: none;
	background: none;
	font-family: 'DIN Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: clamp(14px, 0.729166666vw, 2vh); /*14px = 1.3vh*/
	line-height: clamp(14px, 0.729166666vw, 2vh);
	font-weight: 500;
	letter-spacing: -0.03em;
	text-decoration: underline;
	text-underline-offset: 1px;
}

.header2__button_shopping-cart {
	color: var(--black);
	background: none;
	border: none;
	margin-top: -0.2vh;
	margin-right: 1vw;
	font-family: 'DIN Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: clamp(14px, 0.729166666vw, 2vh); /*14px = 1.3vh*/
	line-height: clamp(14px, 0.729166666vw, 2vh);
	font-weight: 300;
	letter-spacing: -0.03em;
}

.header2 span {
	color: var(--grey);
}

.header3 {
	grid-column: 4/5;
	grid-row: 2/3;
	border-bottom: 3px solid var(--grey);
	display: flex;
	box-sizing: border-box;
}

.header3__brand {
	align-self: center;
	margin: 0vh 0px 1vw 0.6vw;
	font-weight: 300;
	font-size: clamp(20px, 7.4vh, 7vw); /*80px 7.4vh 4.16666666667vw*/
	line-height: clamp(20px, 7.4vh, 7vw); /*80px 7.4vh*/
	letter-spacing: -0.09em;
	color: var(--black);
}

.header3__model {
	font-weight: 700;
	font-size: clamp(20px, 7.4vh, 7vw);
	line-height: clamp(20px, 7.4vh, 7vw);
	letter-spacing: -0.1em;
	color: var(--black);
}

.header3__color {
	font-size: clamp(16px, 1.041666666vw, 2vh);/* 1.85vh 20px */
	line-height: clamp(16px, 1.041666666vw, 2vh);
	margin-top: 2vh;
	margin-left: 2.4vw;
	font-weight: 300;
	letter-spacing: -0.1em;
	color: var(--grey);
	position: relative;
}

.header3__color::before {
	position: absolute;
	content: "";
	background-image: url("img/color-icon.svg");
	background-repeat: no-repeat;
	background-size: cover;  
	background-position: center center;
	height: clamp(16px, 1.25vw, 3vh);/* 2.2vh 24px */
	width: clamp(16px, 1.25vw, 3vh);/* 2.2vh 24px */
	top: -0.3vh;
	left: -1.8vw;
}

.header4 {
	box-sizing: border-box;
	grid-column: 5/-1;
	grid-row: 2/3;
	border-bottom: 3px solid var(--grey);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header4__price {
	font-size: clamp(16px, 1.041666666vw, 2vh); /* 1.852vh; 20px */
	line-height: clamp(16px, 1.041666666vw, 2vh);
	margin-left: 1vw;
	margin-top: 5.8vh;
	white-space: nowrap;
	letter-spacing: -0.09em;
}

.header4__arrow {
	display: block;
	margin-right: 1vw;
	margin-top: 3.2vh;
	width: 9.270833333vw;
	height: 2.5vw;
	position: relative;
}

.header4__arrow::before {
	font-size: clamp(14px, 0.729166666vw, 2vh); /*14px = 1.3vh*/
	line-height: clamp(14px, 0.729166666vw, 2vh); /*14px = 1.3vh*/
	font-weight: 300;
	letter-spacing: -0.03em;
	white-space: nowrap;
	text-decoration: none;
	position: absolute;
	left: -2.29vw;
	bottom: 1.6vw; 
	content: "learn more";
	color: var(--grey);
}

.header4 svg {
	width: 100%;
	height: 100%;
}

.sidebar-left {
	box-sizing: border-box;
	display: flex;
	grid-column: 1/2;
	grid-row: 1/-1;
	border-right: 1px solid var(--border);
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 3.5vh 0;
}

.sidebar-left--alternative {
	background-color: var(--full-black);
	border-right: 1px solid var(--border-alternative);
}

.sidebar-left__instax-logo {
	width: 2.1vw; }

.sidebar-left__instax-logo--alternative {
	filter: invert(100%)}


.sidebar-left__center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -2.1vh;
}
.sidebar-left__center--button-menu{
	width: 2.27272727273vw; /*45px*/
	border: 1px solid var(--full-white);
	border-radius: 50%;
	background-color: var(--full-white);
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25%;
}
.sidebar-left__center--button-menu--svg{
	width: 2.27272727273vw; /*45px*/
	height: 2.27272727273vw; /*45px*/
}
.sidebar-left__center--button-magnifier{
	margin-top: 1vh;
	width: 2.27272727273vw; /*45px*/
	border: 1px solid var(--grey);
	border-radius: 50%;
	background-color: transparent;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25%;
}
.sidebar-left__center--button-magnifier--svg{
	width: 2.27272727273vw; /*45px*/
	height: 2.27272727273vw; /*45px*/
	
}
.sidebar-left__center--button-copy{
	margin-top: 1vh;
	width: 2.27272727273vw; /*45px*/
	border: 1px solid var(--grey);
	border-radius: 50%;
	background-color: transparent;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25%;
}
.sidebar-left__center--button-copy--svg{
	width: 2.27272727273vw; /*45px*/
	height: 2.27272727273vw; /*45px*/
	
}
.sidebar-left__fujifilm-logo {
	width: 0.85vw;
}

.sidebar-left__fujifilm-logo--alternative {
	filter: invert(100%);

}



.nav-top {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	grid-column: 2/3;
	grid-row: 1/4; 
	border-bottom: 1px solid var(--border);
}

.nav-top__alternative {
	grid-column: 2/-1;
	grid-row: 1/-1;
	background-color: var(--full-black);
	z-index: 10;
	border-bottom: none;
}

.nav-top a {
	display: block;
	text-decoration: none;
	color: var(--grey);
}
.nav-top__alternative a {
	color: var(--full-white);
	display: flex;
}



.nav-top a:hover {
	color: var(--black);
}
.nav-top__alternative a:hover {
	color: var(--grey);
}
.nav-top a:active {
	color: var(--full-black);
}

.nav-top__menu1 {
	list-style: none;
	text-align: right;
	margin: 3.2vh 1vw 0px 0px;
	font-size: max(14px, 0.72916666666vw); /*14px 1.296296296vh*/
	line-height: max(20px, 1.04166666667vw); /*20px 1.851851851vh*/
	letter-spacing: -0.03em;
	font-weight: 300;
}

.nav-top__menu1__alternative {
	text-align: left;
}

@media screen and (max-height: 720px) {
	.nav-top__menu1 {
		line-height: max(18px, 1.04166666667vw); /*16px 20px*/
	}
  }

  @media screen and (max-height: 640px) {
	.nav-top__menu1 {
		font-size: max(12px, 0.72916666666vw);
		line-height: max(16px, 1.04166666667vw); /*16px 20px*/
	}
  }

.nav-top .nav-top__menu1_header {
	text-decoration: underline;
	color: var(--black);
	margin-bottom: 0.41666666666vw; /*8px 0.8vh*/
	font-size: max(18px, 1.04166666667vw); /*20px 1.852vh*/
	line-height: max(18px, 1.04166666667vw); /*20px 1.852vh*/
	font-weight: 500;
	position: relative; 
}

.nav-top__menu1_header::after {
	position: absolute;
	content: "";
	width: max(15.75px, 1.09375vw);	/*21px 1.944444444vh*/
	height: max(12px, 0.83333333333vw);	/*16px 1.481481481vh*/
	top: max(4px, 0.1vw); /*4px = 0.37037037vh*/
	right: min(-25px, -1.45833333333vw); /*-25px, -28px = -1.45833333333vw*/
	background-size: max(15.75px, 1.09375vw) max(12px, 0.83333333333vw); 
	background-image: url(img/Arrow2.svg);
	background-repeat: no-repeat;
}


.nav-top .nav-top__menu1_header__alternative {
	color: var(--full-white);
	text-decoration: none;
	font-size: max(120px, 6.25vw); /*120px*/
	line-height: 80%; 
	letter-spacing: -0.05em;
	font-weight: 300;
	position: relative;
	margin-left: 30px;
	margin-bottom: 5px;
}

.nav-top__menu1_header__alternative::before {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	content: "01";
	font-size: 15px; 
	line-height: 100%; 
	letter-spacing: -0.05em;
	font-weight: 400;
	width: 1.7vw;
	height: 1.7vw;
	top: -5%;
	left: 23vw;
	border: 2px solid var(--border-alternative);
	border-radius: 50%;	
}

.nav-top__menu1_header__alternative::after {
	position: absolute;
	content: "";
	width: 9.270833333vw;
	height: 2.5vw;
	top: 45%;
	left: 25.5vw;
	background-size: 9.270833333vw 2.5vw;
	background-image: url(img/Arrow1.svg);
	background-repeat: no-repeat;
	filter: brightness(0%) invert(100%);	
}
.nav-top__hidden-subheader {
	display: none;
}
.nav-top__hidden-subheader--alternative  {
	display: flex;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -0.05em;
	color: var(--full-white);
	border-bottom: 1px solid var(--border-alternative);
	position: relative;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 20px;
}
.nav-top__hidden-subheader--alternative::after  {
	position: absolute;
	content: "";
	width: 18px;	
	height: 18px;	
	bottom: 1px;	
	right: 20px;
	background-size: 18px 18px;	
	background-image: url(img/arrowmini.svg);
	background-repeat: no-repeat;
	filter: invert(100%);	
}

.hidden{
	display: none;}


.nav-top__hidden-subheader--alternative:nth-of-type(2)  {
	border-top: 1px solid var(--border-alternative);
	margin-top: 0px;
	padding-top: 20px;	
}

.nav-top__list  {
	list-style: none;}

.nav-top__list--alternative {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 105px;
	margin-bottom: 37px;
}

.nav-top__item--alternative {
	width: 210px;
	height: 40px;
	border: 1px solid var(--border-alternative);
	border-radius: 36px;
	margin-right: 10px;
}
.nav-top__item--alternative a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 36px;
	font-weight: 15px;
	font-weight: 400;
	letter-spacing: -0.05em;
}

.nav-top__item--alternative .active{
	background-color: var(--full-white);
	color: var(--black);
	border: none;
}










.nav-top__menu2 {
	list-style: none;
	margin: 0px 0px 3.1vh 1vw;
	font-size: max(12px, 0.625vw); /*12px 1.111111111vh*/
	line-height: max(21px, 1.04166666667vw); /*20px 1.851851851vh*/
	letter-spacing: -0.03em;
	font-weight: 300;
	color: var(--grey);
}



@media screen and (max-height: 720px) {
	.nav-top__menu2 {
		line-height: max(18px, 1.04166666667vw); /*16px 20px*/
	}
  }

@media screen and (max-height: 640px) {
	.nav-top__menu2 {
		line-height: max(16px, 1.04166666667vw); /*16px 20px*/
	}
  }
  
 @media screen and (max-height: 570px) {
	.nav-top__menu2 {
		margin-top: calc(3.2vh + max(18px, 1.04166666667vw) + 0.41666666666vw);
		margin-left: 0vw;
	}
  }
.nav-bottom {
	box-sizing: border-box;
	grid-column: 2/3;
	grid-row: 4/-1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: var(--full-white)
}

.nav-bottom__menu3 {
	margin: 1.8vh 1vw 0px 1vw;
	list-style: none;
}

.nav-bottom__menu3 a {
	display: block;
	text-decoration: none;
	font-size: max(12px, 0.625vw); /*12px 1.111111111vh*/
	line-height: max(20px, 1.04166666667vw); /* 20px */
	font-weight: 300;
	letter-spacing: -0.03em;
	color: var(--grey);
}

.nav-bottom__menu3 a:hover {
	color: var(--black);
}

.nav-bottom__menu3 a:active {
	color: var(--full-black);
}

@media screen and (max-height: 720px) {
	.nav-bottom__menu3 a {
		line-height: max(18px, 1.04166666667vw); /*16px 20px*/
	}
  }

@media screen and (max-height: 640px) {
	.nav-bottom__menu3 a {
		line-height: max(16px, 1.04166666667vw); /*16px 20px*/
	}
  }




.nav-bottom .nav-bottom__menu3_header {
	font-size: max(15px, 0.78125vw); /*15px 1.388888888vh*/
	line-height: max(15px, 0.78125vw); /*15px 1.388888888vh*/
	font-weight: 500;
	color: var(--black);
	border-bottom: 1px solid var(--border);
	padding-bottom: 0.462962962vh; 	/*5px*/
	position: relative;
}

@media screen and (max-height: 640px) {
	.nav-bottom .nav-bottom__menu3_header {
		font-size: max(14px, 0.72916666666vw); 
		line-height: max(14px, 0.72916666666vw); 
		padding-bottom: 1px; 	
	}
  }


.nav-bottom__menu3_header::after {
	position: absolute;
	content: "";
	width: max(10px, 0.52083333333vw);	/*10px = 0.925925925vh*/
	height: max(7px, 0.36458333333vw);	/*7px = 0.648148148vh*/
	top: max(4px, 0.37037037vh);	/*4px = 0.37037037vh*/
	right: 0px;
	background-size: max(10px, 0.52083333333vw) max(7px, 0.36458333333vw);	/*10px 7px*/
	background-image: url(img/arrowmini.svg);
	background-repeat: no-repeat;
}







.nav-bottom__menu3 .nav-bottom__menu3_contact {
	margin-top: 0.462962962vh; /*5px*/
	text-decoration: underline;
	font-size: max(12px, 0.625vw); /*12px = 1.111111111vh*/
	line-height: max(20px, 1.04166666667vw); /*20px*/
	font-weight: 500;
	color: var(--black);
}

@media screen and (max-height: 720px) {
	.nav-bottom__menu3 .nav-bottom__menu3_contact {
		margin-top: 0.27777777777vh; /*3px*/
		line-height: max(18px, 1.04166666667vw); 
	}
  }

@media screen and (max-height: 640px) {
	.nav-bottom__menu3 .nav-bottom__menu3_contact {
		margin-top: 0.18518518518vh; /*2px*/
		line-height: max(16px, 1.04166666667vw); 
	}
  }



.nav-bottom__menu4 {
	margin: 2.3vh 1vw 0px 1vw;
	list-style: none;
}

@media screen and (max-height: 720px) {
	.nav-bottom__menu4 {
		margin-top: 1.5vh; 
	}
  }

@media screen and (max-height: 640px) {
	.nav-bottom__menu4 {
		margin-top: 1vh; 
	}
  }


.nav-bottom__menu4 a {
	display: none;
	text-decoration: none;
	font-size: max(12px, 0.625vw); /*12px = 1.111111111vh*/
	line-height: max(20px, 1.04166666667vw); /*20px*/
	font-weight: 300;
	letter-spacing: -0.03em;
	color: var(--grey);
}

@media screen and (max-height: 720px) {
	.nav-bottom__menu4 a {
		line-height: max(18px, 1.04166666667vw);
	}
  }

@media screen and (max-height: 640px) {
	.nav-bottom__menu4 a {
		line-height: max(16px, 1.04166666667vw); 
	}
  }


.nav-bottom__menu4 a:hover {
	color: var(--black);
}

.nav-bottom__menu4 a:active {
	color: var(--full-black);
}

.nav-bottom .nav-bottom__menu4 .nav-bottom__menu4_header {
	display: block;
	font-size: max(15px, 0.78125vw); /*15px*/
	line-height: max(15px, 0.78125vw); /*15px*/
	font-weight: 300;
	color: var(--grey);
	padding-bottom: 0.648148148vh; /*7px*/
	border-bottom: 1px solid var(--border);	
	position: relative;
}

@media screen and (max-height: 640px) {
	.nav-bottom .nav-bottom__menu4 .nav-bottom__menu4_header {
		font-size: max(14px, 0.72916666666vw); 
		line-height: max(14px, 0.72916666666vw); 
		padding-bottom: 1px; 	
	}
  }




.nav-bottom__menu4:hover .nav-bottom__menu4_sub-menu {
	display: block;
}

.nav-bottom__menu4_header::after {
	position: absolute;
	content: "";
	width: max(10px, 0.52083333333vw);	/*10px = 0.925925925vh*/
	height: max(7px, 0.36458333333vw);	/*7px = 0.648148148vh*/
	top: max(4px, 0.37037037vh); /*4px = 0.37037037vh*/
	right: 0px;
	background-size: max(10px, 0.52083333333vw) max(7px, 0.36458333333vw);	/*10px 7px*/
	background-image: url(img/arrowmini.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
	transition: transform 0.2s;
	transform: rotate(180deg)
}

.nav-bottom__menu4:hover .nav-bottom__menu4_header::after {
	transform: rotate(0deg);
	opacity: 1;
}

.nav-bottom__menu4:hover .nav-bottom__menu4_header {
	color: var(--black);
	font-weight: 500;
}

.nav-bottom__copyright {
	color: var(--grey);
	writing-mode: vertical-lr;
	transform: scale(-1, -1);
	margin: 0px 0px calc(3.5vh - 0.462962962vh) 0.8vw;
	font-size: max(12px, 0.625vw); /*12px 1.111111111vh*/
	line-height: max(12px, 0.625vw); /*12px 1.111111111vh*/
	margin-top: auto;
	align-self: flex-start; 
	font-weight: 300;
}

@media screen and (max-height: 720px) {
	.nav-bottom__copyright {
		font-size: max(10px, 0.52083333333vw); 
		line-height: max(10px, 0.52083333333vw);
	}
  }

@media screen and (max-height: 640px) {
	.nav-bottom__copyright {
		font-size: max(8px, 0.41666666666vw);
		line-height: max(8px, 0.41666666666vw); 
	}
  }



.line {
	box-sizing: border-box;
	grid-column: 3/4;
	grid-row: 1/-1;
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

.center {
	position: relative;
	box-sizing: border-box;
	grid-column: 4/5;
	grid-row: 3/-1;
	border-right: 1px solid var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
}





.center__top-left-angle {
	position: absolute;
	left: 1vw;
	top: 6.9vh;
	display: flex;
	width: 17.1875vw; /*330px*/
	font-size: max(15px, 0.78125vw); /*15px = 1.388888888vh*/
	line-height: max(20px, 1.04166666667vw); /*20px = 1.851851851vh*/
	letter-spacing: -0.03em;
	font-weight: 300;
	color: var(--grey);
	z-index: 2;
}

.center__top-left-angle::before {
	position: absolute;
	content: "";
	width: 1.481481481vh; /*16px*/
	height: 3.796296296vh;/*41px*/
	top:  -5.185185185vh; /*-56px*/
	background-size: 1.481481481vh 3.796296296vh;	/*16px 41px*/
	background-image: url(img/arrowdown.svg);
	background-repeat: no-repeat;
}

.center__top-right-angle {
	position: absolute;
	top: 1.7vh;
	right: 1vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 2;
}

.center__top-right-angle--exit {
	display: none;
	width: max(130px, 6.77083333333vw); /*130px 12.037037037vh*/
	height: max(40px, 2.08333333333vw); /*40px 3.703703703vh*/
  	padding-bottom: 0.462962962vh; /*5px*/
	border: 1px solid var(--border);
  	font-family: 'DIN Pro';
	font-size: max(16px, 0.83333333333vw); /*16px*/
	line-height: 100%;
	letter-spacing: -0.03em;
	font-weight: 400;
	background-color: transparent;  
}

.center__top-right-angle--buy {
	font-size: max(14px, 0.72916666666vw); 
	line-height: 140%;
	letter-spacing: -0.03em;
	font-weight: 400;
	text-decoration: underline;
	text-underline-offset: 1px;
	margin-right: max(30px, 1.5625vw); 
	border: none;
	position: relative;
  	color: var(--grey);
	background-color: transparent; 
}
 
.center__top-right-angle--buy::after {
	position: absolute;
	right: min(-30px, -1.5625vw);
	content: "";
	width: max(21px, 1.09375vw); 
	height: max(21px, 1.09375vw);  
	background-size: cover;  
	background-position: center center;
	background-image: url(img/small_circle.svg); 
	border-radius: 50%;}



.center__top-right-angle--compare {
	margin-top: 3.9vh;
	width: max(130px, 6.77083333333vw); /*130px 12.037037037vh*/
	height: max(40px, 2.08333333333vw); /*40px 3.703703703vh*/
  	padding-bottom: 0.462962962vh; /*5px*/
	border: 1px solid var(--border);
  	font-family: 'DIN Pro';
	font-size: max(16px, 0.83333333333vw); /*16px*/
	line-height: 100%;
	letter-spacing: -0.03em;
	font-weight: 400;
	background-color: transparent;  
}


.js-center__arrow--left{
	position: absolute;
	top: calc(33.5vh - 1vw);
	left: 0px;
	width: calc(1vw + max(10px, 0.52083333333vw) + 1vw);
	height: calc(1vw + max(10px, 0.52083333333vw) + 1vw);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
}

.center__arrow--left-svg{
	transform: rotate(-90deg);
	width: max(10px, 0.52083333333vw);	/*10px*/
	user-select: none;
}




.center__slider{
	display: flex;
	align-items: center;
	justify-content: center; 
	position: relative;
	margin-top: -7vh;
}

.js-center__slider--item {
	width: 29.1666666667vw; 
	max-width: 100%;
	max-height: 100%; 
}


.js-center__slider--item img {
	width: 29.1666666667vw; /*560px*/
	user-select: none; 
}


.js-center__arrow--right{
	position: absolute;
	top: calc(33.5vh - 1vw);
	right: 0px;
	width: calc(1vw + max(10px, 0.52083333333vw) + 1vw);
	height: calc(1vw + max(10px, 0.52083333333vw) + 1vw);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
}

.center__arrow--right-svg{
	transform: rotate(90deg);
	width: max(10px, 0.52083333333vw);	/*10px*/
	user-select: none;
}


.center__quiz {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 14.5vh;
  	right: 1vw;
	z-index: 2;
}

.center__quiz--header {
	font-size: max(14px, 0.72916666666vw);  /*14px 1.296296296vh*/
	line-height: 140%;
	letter-spacing: -0.03em;
	font-weight: 400;
  	text-align: right;
}

.center__quiz--text {
	margin-top: 2.1vh;
	font-size: max(14px, 0.72916666666vw); /*14px 1.296296296vh*/
	line-height: 145%;
	font-weight: 300;
  	text-align: right;
	letter-spacing: -0.03em;
  	color: var(--grey);
}


.center__video {
	display: none;
	margin-left: 1vw;
	margin-right: 1vw;
	max-width: calc(100% - 2vw);
	max-height: calc(100% - 2vw);
}


.description {
	box-sizing: border-box;
	grid-column: 5/6;
	grid-row: 3/5;
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.description__top {
	width: 100%;
	padding: 1vw;
	padding-top: 0.95vw;
}

.description__top--text {
	font-size: max(14px, 1.04166666667vw); /*20px 1.85185185185vh*/
	line-height: 100%;
	letter-spacing: -0.03em;
	font-weight: 400;
	text-decoration: underline;
	text-underline-offset: 1px;
	text-decoration-thickness: 0.10416666666vw; /*2px*/
	width: 11.458333333vw; /*220px*/
}

.description__top--video{
	margin-top: min(3.22916666667vw, 5.7vh); /*62px*/
	width: 100%;
	height: 8.50vw; /*160px*/
	background-color: #eaeaea;
	position: relative; 
}

.description__top--picture img{
	width: 100%;
	height: 100%;
}

.description__top--triangle {
	position: absolute;
	z-index: 2;
	top: 4%;
	left: 64%;
	width: 20.357142857%; /*57px*/
	height: 40.625%; /*65px*/
}


.description__bottom {
	display: flex;
	flex-wrap: wrap;
	bottom: 0;
}

.description__bottom--previous {
	width: 100%;
	margin-left: 2.1vw; 
	font-size: max(14px, 0.78125vw); /*15px*/
	line-height: 100%;
	letter-spacing: -0.06em;
	font-weight: 400;
	margin-bottom: 0.5vh;
	color: var(--grey);
}

.description__bottom--number-first {
	width: 100%;
	margin-left: 0.7vw;
	margin-bottom: 0.6vh;
	font-size: clamp(20px, 5.20833333333vw, 11vh); /*100px 9.25vh*/
	line-height: 7vh;
	letter-spacing: -0.10em;
	font-weight: 300;
	color: var(--black);
	position: relative;
}

.description__bottom--number-first::after {
	position: absolute;
	content: "";
	width: 0.88541666666vw; /*17px*/
	height: 0.625vw; /*12px*/
	bottom: -1.38888888889vh; /*30px*/
	left: 35%; /*105px*/
	background-size: 0.88541666666vw 0.625vw; /*17px 12px*/
	background-repeat: no-repeat;
	background-image: url(img/Line.svg);}



.description__bottom--next {
	align-self: end;
	color: var(--full-white);
	font-size: max(14px, 0.78125vw); /*15px*/
	line-height: 100%;
	letter-spacing: -0.06em;
	font-weight: 400;
	margin-bottom: 2.5vh;
	margin-right: 1vw;
	margin-left: auto; 
}

.description__bottom--number-second {
	display: flex;
	right: 0;
	margin-bottom: 2.5vh;
	font-size: clamp(20px, 10.4166666667vw, 20vh); /*200px 18.50vh*/
	line-height: clamp(15px, 7.81250000002vw, 15vh);;
	letter-spacing: -0.10em;
	font-weight: 300;
	color: var(--full-white);
}

.penultimate {
	box-sizing: border-box;
	grid-column: 5/6;
	grid-row: 5/-1;
	border-right: 1px solid var(--border);
	display: flex;
	justify-content: flex-end;
	padding: 1vw;
	padding-top: 2.8vh;
}

.penultimate__text {
	position: relative;
	font-size: max(14px, 0.72916666666vw); 
	line-height: 140%;
	letter-spacing: -0.03em;
	font-weight: 400;
	text-decoration: none;
	margin-right: max(30px, 1.5625vw); 
	color: var(--grey);
	text-align: right;
}

.penultimate__text::after {
	position: absolute;
	content: "";
	top: 0px;
	right: min(-30px, -1.5625vw);
	width: max(21px, 1.09375vw); 
	height: max(21px, 1.09375vw);  
	background-size: cover;  
	background-position: center center;
	background-image: url(img/small_circle.svg); 
	border-radius: 50%;
}


.sidebar-right {
	background: var(--full-white);
	box-sizing: border-box;
	grid-column: 6/-1;
	grid-row: 3/-1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.sidebar-right__top {
	margin-top: 1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.sidebar-right__top--3dots{
	width: 2.27272727273vw; /*45px*/
	border: 1px solid var(--full-black);
	border-radius: 50%;
	background-color: var(--full-black);
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar-right__top--3dots--svg{
	width: 2.27272727273vw; /*45px*/
	height: 2.27272727273vw; /*45px*/
	aspect-ratio: 1/1;
}
.sidebar-right__top--3dots--svg rect{
	align-self: center;
	justify-self: center;
}
.sidebar-right__top--arrow {
	margin-top: 7.9vh;
	width: 1.944444444vh;
}


.sidebar-right__bottom {
	margin-bottom: 3.3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.sidebar-right__bottom--facebook{
	width: 2.27272727273vw; /*45px*/
}
.sidebar-right__bottom--instagram{
	width: 2.27272727273vw; /*45px*/
}
.sidebar-right__bottom--twitter{
	width: 2.27272727273vw; /*45px*/
}

/* Обертка для svg, чтобы при наведении border не окрашивался*/

.sidebar-right__bottom--link-fb{
	width: 2.27272727273vw; /*45px*/
	height: 2.27272727273vw; /*45px*/
	border: 1px solid var(--grey);
	border-radius: 50%;
}
.sidebar-right__bottom--link-fb:hover .sidebar-right__bottom--facebook{
	filter: grayscale(100%) brightness(0%);
	-webkit-filter: grayscale(100%) brightness(0%);
	-moz-filter: grayscale(100%) brightness(0%);
}


.sidebar-right__bottom--link-inst{
	margin-top: 1vh;
	width: 2.27272727273vw; /*45px*/
	height: 2.27272727273vw; /*45px*/
	border: 1px solid var(--grey);
	border-radius: 50%;
}
.sidebar-right__bottom--link-inst:hover .sidebar-right__bottom--instagram{
	filter: grayscale(100%) brightness(0%);
	-webkit-filter: grayscale(100%) brightness(0%);
	-moz-filter: grayscale(100%) brightness(0%);
}


.sidebar-right__bottom--link-twit{
	margin-top: 1vh;
	width: 2.27272727273vw; /*45px*/
	height: 2.27272727273vw; /*45px*/
	border: 1px solid var(--grey);
	border-radius: 50%;
}
.sidebar-right__bottom--link-twit:hover .sidebar-right__bottom--twitter{
	filter: grayscale(100%) brightness(0%);
	-webkit-filter: grayscale(100%) brightness(0%);
	-moz-filter: grayscale(100%) brightness(0%);
}

}